/* ----------------------------- */
/*  Open Design School project
/* ----------------------------- */

/* common parts of document */
body {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	padding: 0;
	margin: 0;
	background-attachment: fixed;
	background-image: url(../img/bg_top.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #313455;
}

button {
	cursor: pointer;
}

/* header menu */
header {
	width: 100%;
	height: 100px;
	text-transform: uppercase;
	transition: all 1s;
}

header a:hover {
	color: #fff;
}

header img {
	height: 80px;
	transition: height 1s;
}

.header_s {
	height: 50px;
	background-color: #313455;
	border-bottom: 1px solid #505369;
}

.header_s  img {
	height: 40px;
}

.header_s  .navbar {
	border-bottom: none;
}

.header_container {
	max-width: 1235px;
}

/* nav bar */
.navbar {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #505369;
	transition: border-bottom 1s;
	padding: 0 30px;
}

.navbar-dark .navbar-nav .nav-link {
	font-size: 13px;
	font-weight: bold;
	color: #ffffffbf;
	margin-left: 25px;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #fff;
}

main {
	margin-top: 100px;
	min-height: 470px;
}

.page {
	padding: 40px 0;
}

/* home */
#home {
	
}

#welcame {
	height: 650px;
	display: table;
}

#welcame div {
	display: table-cell;
	color: #fff;
}

#welcame h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 65px;
	max-width: 1120px;
	margin: auto;
}

#welcame p {
	font-size: 22px;
	width: 885px;
	margin: 30px auto 50px;
}

#welcame button {
	border: none;
	background-color: #e84546;
	color: #fff;
	text-transform: uppercase;
	width: 200px;
	border-radius: 3px;
	height: 40px;
	font-size: 13px;
	font-weight: bold;
}

#services {
	background-color: #fff;
	max-height: 690px;
}

#services.page {
	max-height: unset;
	padding: 40px 0 90px;
}

#services .row {
	max-width: 1165px;
	margin: 120px auto;
}

#services .row div {
	margin-bottom: 55px;
}

#services h3 {
	margin: 30px 0 15px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

#services .main_container .row {
	max-width: 1165px;
	margin: 80px auto 10px;
}

#services .text {
	width: 1030px;
	margin: auto;
	text-align: center;
}

#services img {
	max-width: 60px;
}

#gallery_home {
	background-color: #fff;
}

#gallery_home .row.no-gutters {
	max-width: 1880px;
	margin: auto;
}

#gallery_home.page .row.no-gutters {
	margin-top: 70px;
}

#gallery_home .row div {
	background-color: #fff;
	position: relative;
	overflow: hidden;
	height: 350px;
}

#gallery_home .row div img {
	max-width: 470px;
}

#gallery_home .row div div {
	background-color: #ff000000;
	border: 1px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color 1s;
	padding-top: 150px;
	max-width: 470px;
	right: 0;
	margin: auto;
	cursor: pointer;
}

#gallery_home .row div div>* {
	color: transparent;
	transition: all 1s;
}

#gallery_home .row div div:hover>* {
	color: #fff;
	margin-right: 0;
	margin-left: 0;
}

#gallery_home .row div div h3 {
	margin-right: 100px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}

#gallery_home .row div div p {
	margin-left: 100px;
	font-size: 15px;
}

#gallery_home .row div div:hover {
	background-color: #ff000080;
}

.modal-lg {
	max-width: 90%;
	text-align: center;
}

#bottom {
	background-color: #fff;
	width: 100%;
	height: 300px;
	padding-top: 60px;
}

#bottom p {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 40px;
	font-size: 13px;
}

#bottom button {
	border: none;
	background-color: #e84546;
	color: #fff;
	text-transform: uppercase;
	width: 280px;
	border-radius: 3px;
	height: 45px;
	font-size: 13px;
	font-weight: bold;
}

#bottom h2 {
	font-size: 28px;
}

footer {
	background-color: #3a3e64;
	padding-top: 65px;
	height: 345px;
}

footer h3 {
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

footer p {
	color: #9ea3b6;
	font-size: 15px;
}

footer img {
	margin: 3px;
}

footer .col-md-2.col-sm-12 {
	margin: 0 35px
}

footer .col-md-12 {
	background-color: #313455;
}

.copy {
	margin-top: 30px;
	height: 20px;
	font-size: 15px;
}

/** page 404 **/
#not_found h2 {
	color: #fff;
}

/** page contact **/
#contact {
	background-color: #fff;
	padding-top: 40px;
}

.h1_title {
	background-image: url(../img/h1_border.jpg);
	background-repeat: no-repeat;
	background-position: bottom left;
	font-size: 35px;
	padding-bottom: 10px;
}

.main_container {
	max-width: 1170px;
	margin: auto;
}

form input {
	margin-bottom: 25px;
}

.form-control {
	border: 3px solid #f4f4f4;
}

#contact form {
	margin: 70px 0 85px;
	height: 350px;
}

#contact form textarea {
	width: 680px;
	border-radius: 3px;
	margin-left: 95px;
	height: 240px;
}

#contact form button {
	border: none;
	background-color: #e84546;
	color: #fff;
	text-transform: uppercase;
	width: 280px;
	border-radius: 3px;
	height: 45px;
	font-size: 13px;
	font-weight: bold;
}

#map {
	height: 435px;
	margin-bottom: 15px;
}

@media ( max-width : 1200px) {
	#services {
		max-height: unset;
	}
	#contact form textarea {
		width: 95%;
		margin-left: 10px;
	}
}

@media ( max-width : 991px) {
	header {
		height: 50px;
		background-color: #313455;
	}
	header img {
		height: 40px;
	}
	.navbar {
		padding: 0px 5px;
	}
	#navbarCollapse {
		background-color: #313455;
		padding-left: 35px;
	}
	#welcame {
		height: unset;
		padding: 0 10px 50px;
	}
	#welcame div {
		display: block;
	}
	#welcame h1 {
		font-size: 45px;
		max-width: unset;
		margin: auto;
	}
	#welcame p {
		width: unset;
	}
	.main_container {
		padding: 0 10px;
	}
	#contact form textarea {
		width: 100%;
	}
	#services .row {
		margin: 50px auto 0;
	}
	#services .main_container .row {
		margin: 50px auto 0;
	}
	#contact form {
		height: unset;
	}
	#bottom {
		height: unset;
		padding: 0 0 30px;
	}
	#services .text {
		width: unset;
	}
}

@media ( max-width : 768px) {
	#contact form textarea {
		margin-left: unset;
	}
	footer {
		padding-top: 15px;
		height: unset;
	}
	.copy {
		height: unset;
	}
}

@media ( max-width : 576px) {
	footer h3 {
		margin-top: 10px;
	}
}