/* ----------------------------- */
/*  Open Design School project
/* ----------------------------- */

/* common parts of document */
body {
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	background-attachment: fixed;
	background-image: url(../img/bg_top.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

/* header menu */
header {
	width: 100%;
	height: 100px;
	text-transform: uppercase;
	transition: all 1s;
}

header a {
	font-size: 13px;
}

header img {
	height: 80px;
	transition: height 1s;
}

.header_s {
	height: 50px;
	background-color: #2a2e49;
}

.header_s  img {
	height: 40px;
}

.header_container {
	max-width: 1235px;
}

main {
	margin-top: 100px;
	min-height: 470px;
}

/* nav bar */
.navbar {
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #505369;
}

/* home */
#home {
	
}

#welcame {
	height: 650px;
	display: table;
}

#welcame div {
	display: table-cell;
	color: #fff;
}

#welcame h1 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 65px;
	max-width: 1120px;
	margin: auto;
}

#welcame p {
	font-size: 22px;
	width: 885px;
	margin: 30px auto 50px;
}

#welcame button {
	border: none;
	background-color: #e84546;
	color: #fff;
	text-transform: uppercase;
	width: 200px;
	border-radius: 3px;
	height: 40px;
	font-size: 13px;
}

#services {
	background-color: #fff;
	height: 690px;
}

#services .row {
	max-width: 1165px;
	margin: 120px auto;
}

#services .row div {
	margin-bottom: 55px;
}

#services h3 {
	margin: 30px 0 15px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}

#gallery_home {
	background-color: #fff;
}

#gallery_home .row.no-gutters {
	max-width: 1880px;
	margin: auto;
}

#gallery_home .row div {
	background-color: #fff;
	position: relative;
	overflow: hidden;
}

#gallery_home .row div div {
	background-color: #ff000000;
	border: 1px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color 1s;
	padding-top: 150px;
	max-width: 470px;
	right: 0;
	margin: auto;
}

#gallery_home .row div div>* {
	color: transparent;
	transition: all 1s;
}

#gallery_home .row div div:hover>* {
	color: #fff;
	margin-right: 0;
	margin-left: 0;
}

#gallery_home .row div div h3 {
	margin-right: 100px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}

#gallery_home .row div div p {
	margin-left: 100px;
	font-size: 15px;
}

#gallery_home .row div div:hover {
	background-color: #ff000080;
}

#bottom {
	background-color: #fff;
	width: 100%;
	height: 300px;
	padding-top: 60px;
}

#bottom p {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 30px;
}

#bottom button {
	border: none;
	background-color: #e84546;
	color: #fff;
	text-transform: uppercase;
	width: 280px;
	border-radius: 3px;
	height: 45px;
	font-size: 13px;
	font-weight: bold;
}

#bottom h2 {
	font-size: 30px;
}

footer {
	background-color: #3a3e64;
	padding-top: 65px;
}

footer h3 {
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}