
<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>Mes Devinettes</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="http://192.168.1.31/OpenDesignSchool/assets//css/style.css" />
	</head>
	<body>
		<div class="conainer_fluid">
			<header class="row justify-content-xl-center fixed-top">
				<div class="col-xl-8">
					<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
						<a class="navbar-brand" href="http://192.168.1.31/OpenDesignSchool/">Fixed navbar</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarCollapse">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item active">
									<a class="nav-link" href="http://192.168.1.31/OpenDesignSchool/">
										Accueil
										<span class="sr-only">(current)</span>
									</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="http://192.168.1.31/OpenDesignSchool/">
										Qui sommes nous?
										<span class="sr-only">(current)</span>
									</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="http://192.168.1.31/OpenDesignSchool/">
										Nos services
										<span class="sr-only">(current)</span>
									</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="http://192.168.1.31/OpenDesignSchool/">
										Galerie photos
										<span class="sr-only">(current)</span>
									</a>
								</li>	
								<li class="nav-item active">
									<a class="nav-link" href="http://192.168.1.31/OpenDesignSchool/">
										Contact
										<span class="sr-only">(current)</span>
									</a>
								</li>																			
								<li class="nav-item">
									<a class="nav-link" href="http://192.168.1.31/OpenDesignSchool/create-devinette.html"> Ajouter une devinette </a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">Devis en ligne</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>					
			</header>
			<!--- cotent ---->
			<main class="row justify-content-center">
				<section id="welcame" class="col-12">
					<div class="text-center">
						<h1>Your favourite buisiness site multi purpose template</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
						<button>Find out more</button>
					</div>
				</section>
				<section id="services" class="col-12 ">
					<div class="text-center">
						<img alt="" src="" />
						<h3></h3>
						<p></p>
					</div>
				</section>
				<section id="gallery_home" class="col-12">
					<div>
						<img alt="" src="" />
						<h3></h3>
						<p></p>
					</div>
					<div class="text-center">
						<h2>aaa</h2>
						<p>bbbbbbbbbbbbbb bbbbbbbbbbbbbb</p>
						<button>ccc</button>
					</div>
				</section>
			</main>
			<footer class="row justify-content-center text-center">
				<div class="col-md-2 col-sm-2">
					<h3>Location</h3>
					<p></p>
				</div>
				<div class="col-md-2 col-sm-2">
					<h3>Share with love</h3>
					<img alt="" src=""/>
				</div>
				<div class="col-md-2 col-sm-2">
					<h3>About activebox</h3>
					<p></p>
				</div>
				<div class="col-md-12 text-center">Copy</div>
			</footer>
		</div>
		<!-- Bootstrap core JavaScript-->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	</body>
</html>